*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
input,
select,
textarea{
    padding: 3px;
    border-radius: 5px;
    border: 1px solid grey;
    min-width: 0px;
}
input:focus,
select:focus,
textarea:focus{
    outline: 0px;
}
input[type=submit]{
    background-color: #4485ba;
    color: white;
    font-weight: 600;
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}

header{
    background-color: #3b434a;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #4485ba;
}
header .centerHeader{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
header .centerHeader div{
    height: 100%;
    display: flex;
}
header .centerHeader a{
    color: white;
    padding: 0px 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .centerHeader a:hover{
    background-color: #4485ba;
}

main{
    padding: 30px 10px;
    margin-top: 40px;
}
main .centerMain{
    max-width: 1000px;
    margin: 0 auto;
}
main .centerMain #contVeiculos,
main .centerMain{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .centerMain #contVeiculos > div,
main .centerMain #contOutros{
    border: 1px solid #4485ba;
    border-radius: 5px;
}
main .centerMain #contVeiculos > div h2,
main .centerMain #contOutros h2{
    background-color: #4485ba;
    color: white;
    padding: 3px 8px;
    font-weight: 600;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
main .centerMain #contVeiculos .contAddVeic form{
    padding: 8px;
    display: grid;
    gap: 7px;
    grid-template-areas: 'marca-modelo marca-modelo desc-modelo desc-modelo desc-modelo valor ano ano'
    'combustivel km final-placa cor unico-dono unico-dono quant-portas quant-portas'
    'opcionais opcionais opcionais descricao descricao descricao descricao descricao'
    'destaque fotos fotos fotos fotos fotos fotos fotos'
    'contSubmit contSubmit contSubmit contSubmit contSubmit contSubmit contSubmit contSubmit ';
}
main .centerMain #contVeiculos .contAddVeic form input[name="marca-modelo"]{
    grid-area: marca-modelo;
}
main .centerMain #contVeiculos .contAddVeic form input[name="desc-modelo"]{
    grid-area: desc-modelo;
}
main .centerMain #contVeiculos .contAddVeic form input[name="valor"]{
    grid-area: valor;
}
main .centerMain #contVeiculos .contAddVeic form input[name="ano"]{
    grid-area: ano;
}
main .centerMain #contVeiculos .contAddVeic form input[name="combustivel"]{
    grid-area: combustivel;
}
main .centerMain #contVeiculos .contAddVeic form input[name="km"]{
    grid-area: km;
}
main .centerMain #contVeiculos .contAddVeic form input[name="final-placa"]{
    grid-area: final-placa;
}
main .centerMain #contVeiculos .contAddVeic form input[name="cor"]{
    grid-area: cor;
}
main .centerMain #contVeiculos .contAddVeic form input[name="unico-dono"]{
    grid-area: unico-dono;
}
main .centerMain #contVeiculos .contAddVeic form input[name="quant-portas"]{
    grid-area: quant-portas;
}
main .centerMain #contVeiculos .contAddVeic form input[name="opcionais"]{
    grid-area: opcionais;
}
main .centerMain #contVeiculos .contAddVeic form input[name="descricao"]{
    grid-area: descricao;
}
main .centerMain #contVeiculos .contAddVeic form select[name="destaque"]{
    grid-area: destaque;
}
main .centerMain #contVeiculos .contAddVeic form input[name="fotos"]{
    grid-area: fotos;
}
main .centerMain #contVeiculos .contAddVeic form .contSubmit{
    grid-area: contSubmit;
    display: flex;
    justify-content: center;
}

main .centerMain #contVeiculos .contListaVeiculos table{
    width: 100%;
}
main .centerMain #contVeiculos .contListaVeiculos table th,
main .centerMain #contVeiculos .contListaVeiculos table td{
    text-align: center;
    line-height: 1.5;
}
main .centerMain #contVeiculos .contListaVeiculos table .colBt{
    display: flex;
    gap: 15px;
    justify-content: center;
}

main .centerMain #contOutros form{
    padding: 8px;
    display: grid;
    gap: 7px;
    grid-template-areas: 'contNumZap contTelCont contEmail'
    'contEnd contEnd contCidade'
    'contSobre contSobre contSobre'
    'contLinkInsta contLinkFace contLinkTiktok'
    'contSobreImg contAtend2a6a contAtendSab'
    'contSubmit contSubmit contSubmit';
}
main .centerMain #contOutros form > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}
main .centerMain #contOutros form .contNumZap{
    grid-area: contNumZap;
}
main .centerMain #contOutros form .contTelCont{
    grid-area: contTelCont;
}
main .centerMain #contOutros form .contEmail{
    grid-area: contEmail;
}
main .centerMain #contOutros form .contEnd{
    grid-area: contEnd;
}
main .centerMain #contOutros form .contCidade{
    grid-area: contCidade;
}
main .centerMain #contOutros form .contAtend2a6a{
    grid-area: contAtend2a6a;
}
main .centerMain #contOutros form .contAtendSab{
    grid-area: contAtendSab;
}
main .centerMain #contOutros form .contSobre{
    grid-area: contSobre;
}
main .centerMain #contOutros form .contSobreImg{
    grid-area: contSobreImg;
}
main .centerMain #contOutros form .contLinkInsta{
    grid-area: contLinkInsta;
}
main .centerMain #contOutros form .contLinkFace{
    grid-area: contLinkFace;
}
main .centerMain #contOutros form .contLinkTiktok{
    grid-area: contLinkTiktok;
}
main .centerMain #contOutros form .contSubmit{
    grid-area: contSubmit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main .centerMain #contOutros form textarea{
    resize: vertical;
}
main .centerMain #contOutros form .contSubmit input{
    width: fit-content;
}